.task-list__item {
  border-radius: var(--box-radius, 2px);
  width: 100%;
  background: #ffffff;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mg-bottom, 1rem);
  position: relative;
}

.task-list__text {
  margin-left: 1rem;
  font: 1rem/1rem helvetica;
  /* display: inline-block;
  padding: 2px 3px; */
}

/* .task-list__text:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgb(253, 251, 251);
} */

.task-list__bars-icon {
  font-size: 0.7rem;
  margin-right: 1rem;
  color: rgb(155, 147, 147);
}

.task-list__caretup-icon {
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}

.task-list__item-header {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.task-list__item_hidden {
  display: none;
}

.task-list__item[data-priority="Low"] {
  border-left: 4px solid green;
}

.task-list__item[data-priority="Medium"] {
  border-left: 4px solid yellow;
}

.task-list__item[data-priority="High"] {
  border-left: 4px solid red;
}