.date-box {
  display: flex;
  flex-direction: column;
}

.tab-text {
  font: 1rem/1.5rem helvetica, sans-serif;
  color: rgb(124, 115, 115);
  display: inline-block;
  margin-bottom: 0.2rem;
}

.task-body__tab_date-padding {
  padding: 0;
}
 


