.complete-task-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f1f0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin 0.3s linear;
}

.complete-task-bar__clear-btn {
  width: 60%;
  padding: 0.2rem 1rem;
  background: inherit;
  box-shadow: 0 0 2px #999196;
  text-align: left;
  border: none;
  outline: none;
  color: #4d4848;
  transition: all 0.2s linear;
}

.complete-task-bar__clear-btn:hover {
  box-shadow: 0 0 6px #999196;
  background: #eceae7;
}

.complete-task-bar_hidden {
  margin-bottom: -10vh;
}