
.addtask-form {
  width: 100%;
  margin: 1.5rem auto 0 auto;
  position: relative;
}

.addtask-form__input {
  width: 93%;
  height: 2.5rem;
  padding: 0.4rem 0 0.4rem 3rem;
  line-height: 1.7rem;
  border: none;
  outline: none;
  border-radius: var(--box-radius, 2px);
}

.addtask-form__add-sign {
  content: "+";
  font: 400 1.5rem/2.5rem helvetica;
  vertical-align: middle;
  color: rgb(27, 25, 25);
  position: absolute;
  left: 1.1rem;
  top: 0;
  transition: .2s all linear;
}

.addtask-form__add-sign:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.addtask-form__submit-btn {
  width: 7%;
  height: 2.5rem;
  background: dodgerblue;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  border-top-right-radius: var(--box-radius, 2px);
  border-bottom-right-radius: var(--box-radius, 2px);
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.4) inset;
}

.addtask-form__submit-btn:hover {
  background: rgb(24, 135, 247);
}